.images{
    width:180px;
    height: 80px;
}
.disable{
    display:;
}
.left{
    margin-left:780px;
}
.none{
    font-size:3.5rem;
    font-weight:300;
    line-height:1.2;
    margin-left: 100px;
}
.but{
    margin-top:60px;
}
.button-1{
    margin-left:100px;
    margin-top:30px;
    background-color:#F34949;
    border-radius:30px;
    padding:9px 25px;
    border-color:#F34949;
    color:white;
}
.button-1:hover{
    background-color: #f70707;
}
.logo-1{
    display: flex;
    margin-left:100px;
    gap:50px;
    margin-top:60px;
}
.logo-2{
    height:50px;
    width:50px;
}
.logo-3{
    height:50px;
    width:50px;
}
h5{
    font:20px "josefin sans",sans serif;
}
.paragraph{
    display: flex;
    justify-content:space-around;
    margin-top:100px;
}.a{
    height: 250px;
    width: 250px;
}
.b{
    display: flex;
    justify-content: center;
}
.beef-1{
    display: flex;
    justify-content: space-around;
    margin-top:150px;
}

.button-2{
    background-color:#F34949;
    border-radius:30px;
    padding:9px 25px;
    border-color:#F34949;
    color:white;
}
.button-2:hover{
    background-color: #f70707;
}
.one{
    margin-top: 100px;
    margin-left:120px;
}
.last{
    display: flex;
    justify-content: space-around;
    margin-top:80px;
    margin-bottom: ;
}
.two{
    margin-left:885px;
    margin-top: 130px;
}.radius{
    border-radius:50%;
    height:70px;
    width: 70px;
}
.bf{
  display: flex;
  justify-content: space-around;
  margin-top:100px;
}
.egg{
    border-radius:50%;
    height:60px;
    width:60px;
}
.breakfast{
    display: grid;
    grid-template-columns: repeat(3,450px);
    margin-top: 50px;
    margin-left:170px;
}
.breakfast .new {
    display: flex;
    gap:20px;

}